<head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous"
  />
  <link href="/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="survey-heading">
    <!-- style="margin: 10px 10px 10px 10px" -->
    <h2>Detailed View of Survey Records</h2>
    <h3>Survey ID : <%= survey._id%></h3>
    <!-- <pre><%= survey%></pre> -->
  </div>
  <div id="survey-details">
    <!-- style="margin: 30px 40px 10px 30px" -->
    <p>Survey Name : <%= survey.surveyname %></p>
    <p>Date of Survey : <%= survey.surveyDate%></p>
    <p>First Name : <%= survey.firstName %></p>
    <p>Surname : <%= survey.surname %></p>
    <p>Phone Number : <%= survey.phoneNumber %></p>
    <p>Gender : <%= survey.gender %></p>
    <p>Birthday : <%= survey.birthday %></p>
    <p>Employment Status : <%= survey.employmentStatus %></p>
    <p>Networth : <%= survey.networth %></p>
    <p>
      Do you own a home ? : <%= survey.do_you_own_a_home %>
      <!-- <script>
    // const parsedData = JSON.parse("<%-survey %>");
    const parsedData = JSON.parse("<%-survey %>");
    console.log(parsedData);
    console.log(surveyname);
    document.getElementById("surveyname").innerHTML = survey.surveyname;
    document.getElementById("surveydate").textContent = parsedData.surveydate;
    document.getElementById("name").textContent = parsedData.name;
    document.getElementById("phoneNumber").textContent = parsedData.phoneNumber;
    document.getElementById("gender").textContent = parsedData.gender;
    document.getElementById("employmentStatus").textContent = parsedData.employmentStatus;
    document.getElementById("networth").textContent = parsedData.networth;
    document.getElementById("do_you_own_a_home").textContent =parsedData.do_you_own_a_home;
      </script> -->
    </p>
  </div>
</body>
